{
  "extends": "airbnb-base",
    "rules": {
      "no-alert": ["off", {"allow": ["console.log"]}],
      "eslint no-underscore-dangle": ["error", { "allow": ["_id"] }],
      "linebreak-style": ["error", "windows"]
     }
}
